@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

mark {
  background-color: transparent;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-image: url("../assets/images/admin/background.svg");
}

main {
  display: flex;
}
main .navbar_left {
  background-color: #F7F8FD;
  border-right: 1px solid #DDDCDA;
  min-height: 100vh;
  width: 200px;
  font-size: 16px;
  color: #292B35;
}
main .navbar_left .title__navbar_left {
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}
main .navbar_left .sep {
  background-color: #DDDCDA;
  width: 85%;
  height: 1px;
  display: block;
  margin: 0 auto 5px auto;
}
main .navbar_left .navigation .title__navigation {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 10px;
  margin-left: 18px;
}
main .navbar_left nav {
  margin-top: 5px;
  margin-bottom: 10px;
}
main .navbar_left nav li {
  list-style-type: none;
  transition-duration: 0.5s;
  position: relative;
}
main .navbar_left nav li a {
  padding-left: 18px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #292B35;
  font-size: 14px;
  font-weight: 300;
}
main .navbar_left nav li a i {
  width: 30px;
}
main .navbar_left nav li:hover, main .navbar_left nav li.active {
  background-color: #ece2d8;
}
main .navbar_left nav li:hover::before, main .navbar_left nav li.active::before {
  content: "";
  height: 45px;
  width: 4px;
  background-color: #a67c52;
  position: absolute;
  left: 0;
}
main .navbar_left nav li:hover a, main .navbar_left nav li.active a {
  color: #a67c52;
}
main .top_bar {
  background-color: #F7F8FD;
  border-bottom: 1px solid #DDDCDA;
  width: 100%;
  height: 60px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
}
main .main-content {
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main-content .container__main {
  width: 1000px;
}
main .main-content .container__main .main__top {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
  gap: 30px;
}
main .main-content .container__main .main__top:first-child {
  margin-top: 0;
}
main .main-content .container__main .main__top h2 {
  font-size: 20px;
  font-weight: 700;
  color: #292B35;
}
main .main-content .container__main .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}
main .main-content .container__main .content h3 {
  font-weight: 800;
  font-size: 16px;
  color: #a67c52;
  margin-bottom: 10px;
}
main .main-content .container__main .content article {
  padding: 10px;
  width: 49%;
  background-color: #F7F8FD;
  border: 1px solid #DDDCDA;
  box-shadow: 0 2px 20px rgb(216, 225, 232);
  position: relative;
}
main .main-content .container__main .content article p {
  line-height: 20px;
}
main .main-content .container__main .content article .update-article {
  text-decoration: none;
  background-color: #a67c52;
  padding: 12px;
  float: right;
  margin-left: 20px;
  color: #fff;
  border-radius: 5px;
  transition-duration: 0.5s;
  font-weight: 700;
  font-weight: 600;
  border: 1px solid transparent;
}
main .main-content .container__main .content article .update-article:first-child {
  margin-left: 0;
}
main .main-content .container__main .content article .update-article:hover {
  background-color: transparent;
  border: 1px solid #a67c52;
  color: #292B35;
}
main .main-content .container__main .content article .actions {
  opacity: 0;
  transition: opacity 0.5s ease;
}
main .main-content .container__main .content article .actions .delete, main .main-content .container__main .content article .actions .update {
  position: absolute;
  width: 24px;
  height: 24px;
  right: -11px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  top: -11px;
  padding: 5px;
  border-radius: 50%;
  background-color: #f25353;
  cursor: pointer;
  opacity: 1;
}
main .main-content .container__main .content article .actions .delete i, main .main-content .container__main .content article .actions .update i {
  font-size: 14px;
  color: #fff;
}
main .main-content .container__main .content article .actions .update {
  background-color: #56f253;
  top: calc(100% - 12px);
  right: -11px;
}
main .main-content .container__main .content article .actions .update i {
  font-size: 11px;
  color: #fff;
}
main .main-content .container__main .content article:hover .actions {
  opacity: 1;
}
main .main-content .container__main .content .pictures {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}
main .main-content .container__main .content .pictures article {
  width: 300px;
}
main .main-content .container__main .content .pictures article img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main .main-content .container__main .content article.frame {
  width: 100%;
  padding: 10px;
}
main .main-content .container__main .form__main {
  padding: 20px;
  border-radius: 3px;
  width: 100%;
  background-color: #F7F8FD;
  border: 1px solid #DDDCDA;
  box-shadow: 0 2px 20px rgb(216, 225, 232);
  position: relative;
}
main .main-content .container__main .form__main .tox-tinymce {
  border: 1px solid #DDDCDA;
  width: 100% !important;
  border-radius: 3px;
}
main .main-content .container__main .form__main .tox .tox-edit-area__iframe {
  background-color: #F6FAFB;
}
main .main-content .container__main .form__main .tox .tox-menubar + .tox-toolbar, main .main-content .container__main .form__main .tox .tox-menubar + .tox-toolbar-overlord {
  border-top: 1px solid #DDDCDA;
}
main .main-content .container__main .form__main .tox:not(.tox-tinymce-inline) .tox-editor-header {
  background-color: #F6FAFB;
}
main .main-content .container__main .form__main .tox .tox-menubar, main .main-content .container__main .form__main .tox-toolbar__primary, main .main-content .container__main .form__main .tox-statusbar, main .main-content .container__main .form__main .tox-editor-container, main .main-content .container__main .form__main .tox-toolbar-overlord {
  background-color: #F6FAFB;
}
main .main-content .container__main .form__main .tox-promotion {
  display: none;
}
main .main-content .container__main .form__main .title__form {
  color: #292B35;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 15px;
}
main .main-content .container__main .form__main .title__form:first-child {
  margin-top: 0;
}
main .main-content .container__main .form__main span.sep {
  background-color: #DDDCDA;
  width: 100%;
  height: 1px;
  display: block;
  margin-bottom: 15px;
}
main .main-content .container__main .form__main .ts-control {
  background-color: #F6FAFB;
  border: 1px solid #DDDCDA;
}
main .main-content .container__main .form__main .ts-control .item {
  color: #848484;
}
main .main-content .container__main .form__main .ts-control .ts-dropdown {
  margin-top: 15px;
  background-color: #F7F8FD;
  box-shadow: 0 2px 20px rgb(216, 225, 232);
  border: 1px solid #DDDCDA;
  color: #848484;
}
main .main-content .container__main .form__main .ts-control .ts-dropdown .option.active {
  background-color: #ffffff;
  color: #fff;
}
main .main-content .container__main .form__main form .form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
main .main-content .container__main .form__main form .form-group label {
  color: #292B35;
  font-size: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
main .main-content .container__main .form__main form .form-group input {
  background-color: #F6FAFB;
  border: 1px solid #DDDCDA;
  color: #848484;
  width: 220px;
  height: 30px;
  padding-left: 10px;
  transition-duration: 0.5s;
  outline: none;
}
main .main-content .container__main .form__main form.hidden {
  display: none;
}
main .main-content .container__main .form__main p.products__description {
  border: 1px solid #a67c52;
  color: #a67c52;
  padding: 15px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 5px;
  max-width: 1000px;
  margin-bottom: 15px;
}
main .main-content p.products__description {
  border: 1px solid #a67c52;
  color: #a67c52;
  padding: 15px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 5px;
  max-width: 1000px;
}
main .main-content .links a {
  text-decoration: none;
  background-color: #363636;
  padding: 8px;
  margin-left: 20px;
  color: #fff;
  border-radius: 5px;
  transition-duration: 0.5s;
  font-weight: 700;
  font-weight: 600;
  border: 1px solid transparent;
}
main .main-content .links a:first-child {
  margin-left: 0;
}
main .main-content .links a:hover {
  background-color: transparent;
  border: 1px solid #a67c52;
  color: #292B35;
}
main .main-content .links a.active {
  background-color: #a67c52;
}
.alert {
    background-color: #F7F8FD;
    border: 1px solid #DDDCDA;
    box-shadow: 0 2px 20px rgb(216, 225, 232, 1);
    width: 100%;
    border-radius: 3px;
    padding: 15px;
    display: flex;
    font-size: 15px;
    margin-bottom: 20px;
}

.alert .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alert .text {
    color: #565656;
}

.alert .text b {
    font-weight: 700;
    color: #141414;
}

.alert i {
    margin-right: 20px;
    font-size: 20px;
}

.alert i {
    width: 32px;
    border-radius: 50%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert i.info {
    color: #01648E;
    background-color: #CCF0FF;
}

.alert i.success {
    color: #289900;
    background-color: #D9FFCC;
}

.alert i.error {
    color: #F30C0C;
    background-color: #FDCECE;
}

.alert i.danger {
    color: #C27605;
    background-color: #FEEED7;
}
